.chuck-norris {
  height: calc(100vh + 60px);

  .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #422ED4;

    .logo {
      &__div {
        margin-left: 160px;
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      &__img {
        width: 43px;
      }

      &__p {
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;

        color: #FFFFFF;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-loader {
      position: absolute;
      top: 50%;
      right: 50%;
    }

    &-header {
      margin-top: 60px;
      font-family: Raleway, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 59px;
      /* identical to box height */
      text-align: center;
      color: #1C1C39;
    }

    .category-list {
      max-width: 1100px;
      margin-top: 60px;
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;

      .category-item_selected {
        background: #422ED4;

        .item-text {
          color: #FFFFFF;
        }
      }

      .category-item {
        background: #FFFFFF;

        .item-text {
          color: #1C1C39;
        }
      }

      .category-item_selected,
      .category-item {
        cursor: pointer;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 60px;
        border-radius: 20px;
        filter: drop-shadow(0px 2.75474px 10.0172px rgba(72, 70, 106, 0.035));
        box-shadow: 0 22px 80px 0 #48466A12;


        .item-text {
          font-family: Raleway, sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          line-height: 19px;
          /* identical to box height */

          text-align: center;
        }
      }
    }

    .selected-category__div {
      max-width: 1120px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .chuck__img {
        z-index: 9;
        margin: 0 20px 0 auto;
      }

      .description__div {
        margin-top: 210px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        z-index: 10;
        max-width: 1120px;
        width: 100%;
        min-height: 162px;
        height: min-content;
        /* blue */
        background: #422ED4;
        /* shadow/bg */
        box-shadow: 0 100px 80px rgba(80, 76, 103, 0.07), 0 0 10.0172px rgba(80, 76, 103, 0.035);
        border-radius: 25px;


        .text {
          padding: 25px 25px;
          font-family: Raleway, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 150%;
          /* or 30px */
          color: #FFFFFF;
        }
      }

    }
  }
}